@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: 'Merriweather';
    src: url('fontes/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
}
header{
    background-color: rgb(66, 0, 0);
    font-family: 'Merriweather', sans-serif;
    text-decoration: underline;
    font-size: 30px;
    width: 100vw;
    height: 110px;
    text-align: center;
    color: white;
    line-height: 110px;
}
nav{
    background-color: rgb(53, 3, 3);
    font-family: 'Merriweather', sans-serif;
    width: 100vw;
    height: 50px;
}
ul{
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
}
li{
    margin-left: 45px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
#titulo{
    font-family: 'Merriweather', sans-serif;
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
    text-align: center;
    padding-top: 159px;
    padding-bottom: 159px;
}
#fundo{
    background-image: url(imagem/fugo.jpg);
    background-size: cover;
    width: 100vw;
    height: 507px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.555);
}
#sobre{
    width: 100vw;
    height: 240px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.507);
}

#sobre h1{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274);
    color: rgb(0, 0, 0);
    font-family: 'Merriweather', sans-serif;
    padding: 10px;
}
#sobre p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274);
    color: rgb(0, 0, 0);
    font-family: 'Merriweather', sans-serif;
    padding: 10px;
    text-indent: 30px;
}
#card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 507px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.507);
}
.prato{
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(56, 0, 0);

    flex-wrap: wrap;
    border-radius: 10px;
}
.img{
    width: 200px;
    height: 130px;
    border-radius: 10px;
}
#feijoada{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.507);
    transition: all 0.3s ease;
    cursor: pointer;
}
#muqueca {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.507);
    transition: all 0.3s ease;
    cursor: pointer;
}
#galinhada {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.507);
    transition: all 0.3s ease;
    cursor: pointer;
}
#bife {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.507);
    transition: all 0.3s ease;
    cursor: pointer;
}
#feijoada:hover {
    padding: 10px;
}

#muqueca:hover {
    padding: 10px;
}

#galinhada:hover {
    padding: 10px;
}

#bife:hover {
    padding: 10px;
}
#rodape{
    background-color: rgb(66, 0, 0);
    font-family: 'Merriweather', sans-serif;
    font-size: 30px;
    width: 100vw;
    height: 320px;
    padding: 10px;
    color: white;
    line-height: 40px;
}
#rodape h2{
    color: rgb(255, 255, 255);
    font-family: 'Merriweather', sans-serif;
    text-indent: 10px;
    font-size: 0.6em;
}
#rodape p{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274);
    color: rgb(255, 255, 255);
    font-family: 'Merriweather', sans-serif;
    font-size: 0.35em;
}
.cont{
    text-align: center;
}
